<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Media Remote{% endblock %}</title>
        <link rel="stylesheet"
              type="text/css"
              href="{{ asset('bundles/mediaremote/node_modules/material-design-lite/material.min.css') }}">
        <link rel="stylesheet"
              type="text/css"
              href="{{ asset('bundles/mediaremote/node_modules/material-design-icons/iconfont/material-icons.css') }}">
        <link rel="stylesheet"
              type="text/css"
              href="{{ asset('bundles/mediaremote/node_modules/ui-design/dist/ui-design.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript"
                src="{{ asset('bundles/mediaremote/node_modules/material-design-lite/material.min.js') }}"></script>
        <script type="text/javascript"
                src="{{ asset('bundles/mediaremote/node_modules/ui-design/dist/ui-design.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
